<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Hasnain Roopawalla">
  <title>ScribbleNet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ScribbleNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/hasnainroopawalla/ScribbleNet">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.hasnainr.com/projects/scribblenet.html">Documentation</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="mailto:hasnain.roopawalla@gmail.com">Hasnain Roopawalla</a>
      </span>
    </div>
  </nav>

  <div class="container-fluid h-100 p-4">
    <div class="row justify-content-center h-100">
      <div class="col-sm-4 hidden-md-down">
        <button class="btn btn-primary" id="predictBtn">
          Predict
        </button>
        <button class="btn btn-default" id="clearBtn">
          Clear
        </button>
      </div>
      <div class="col-sm-5 col-md-8 col-lg-8 col-xl-8" id="canvas-parent">
        <canvas id="sig-canvas">
          Browser not supported.
        </canvas>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="module" src="{{url_for('static', filename='js/canvas.js')}}"></script>

</body>

</html>
